/**
 *
 * Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: url("https://images.unsplash.com/photo-1554965650-378bcfce5cac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80") center center no-repeat;
  background-size: cover;
  height: 100vh;
}

.item {
  height: 100%;
  flex-direction: column;
}

.chat {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 7px;
  height: 100%;
  max-height: 600px;
  width: 100%;
  max-width: 400px;
  position: absolute;
  right: 50px;
  bottom: 100px;
  background-color: rgba(225,225, 225, 0.9);
}

@media screen and (max-width: 991px) {
  .chat {
    visibility: visible !important;
    top: auto;
    left: auto;
    max-height: 500px;
  }
}

@media screen and (max-width: 550px) {
  .chat {
    right: 0;
  }
}

.chat .item .top {
  padding: 20px 30px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.08);
}

.item > .container {
  padding: 0 !important;
}

.top h5 {
  margin-bottom: 0 !important;
}

.top span {
  font-size: 15px;
  display: block;
}

.top .sb-avatar {
  margin-right: 15px;
}

svg {
  width: 24px;
  height: 24px;
  fill: #747474;
}

.headline {
  display: flex;
  align-items: center;
}

.headline img {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  margin-right: 15px;
}

.middle {
  width: 100%;
  height: calc(100vh - 201px) !important;
}

.emoji-mart {
  position: absolute;
  top: -400px;
  right: 10px;
}

.bottom {
  padding-top: 20px;
  background-color: #fff;
  padding-left: 30px !important;
  padding-right: 30px !important;
  position: relative;
}

.bottom textarea {
  padding: 15.5px 120px 15.5px 20px;
  height: 55px;
  resize: none;
  margin-bottom: 0 !important;
  background-color: #eaeaea;
  color: #333 !important;
}

.bottom .icons {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.chat .item .middle ul > li {
  justify-content: flex-start;
  text-align: left;
  position: relative;
}

.chat .item .middle ul > li.user {
  justify-content: flex-end;
  text-align: right;
}

.chat .item .middle ul > li .bubble p {
  padding: 10px !important;
  font-size: 15px;
  color: #908e93 !important;
}
.chat .item .middle ul > li .bubble {
  background-color: #f5f5f5;
}

.chat .item .middle ul > li.user .bubble {
  background-color: #007bff;
}

.chat .item .middle ul > li.user .bubble p {
  color: #fff !important;
}

.user .sb-avatar {
  order: 3;
  margin-left: 15px;
  margin-right: 0;
}

.sb-avatar {
  margin-right: 15px;
  margin-left: 0;
}

.sb-avatar span {
  margin-top: 0 !important;
  font-weight: 700 !important;
  color: #fff !important;
}

.microlink_card {
  max-width: 350px !important;
  height: 300px !important;
  margin-bottom: 15px;
}

.microlink_card p {
  color: #333 !important;
  font-weight: 400 !important;
  padding: 0 !important;
  margin-bottom: 10px !important;
}
.microlink_card__content_title p {
  font-weight: 700 !important;
}

.microlink_card__content_description  p {
  font-size: 14px !important;
  line-height: 1.2 !important;
}

.microlink_card__content_url p {
  font-size: 12px !important;
}

.embedded-link {
  text-decoration: underline;
}

.meta {
  margin-top: 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meta span {
  margin-top: 0 !important;
  margin-left: 20px;
}

.bubble, .media {
  margin-bottom: 15px;
}

.image-attachment {
  width: auto !important;
  height: auto !important;
  max-width: 100%;
  border-radius: unset !important;
}

.fileUploader, .fileContainer {
  background-color: #3f4257;
}

.fileContainer p {
  color: #fafafa !important;
}

.chooseFileButton {
  background-color: gold !important;
  color: #333 !important;
}

.emoji-reactions {
  position: relative;
}

.emoji-reactions button {
  display: none;
  border: none;
  background-color: transparent;
}

.emoji-reactions svg {
  width: 20px;
  height: 20px;
}

.chat .item .middle ul > li:hover .reactions {
  visibility: visible;
}

.reactions {
  display: flex;
  visibility: hidden;
  align-items: center;
  padding: 0 10px;
  font-size: 40px;
  height: 30px;
  border-radius: 30px;
  z-index: 5;
  left: -150px;
  background-color: #fff;
}

.reactions span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.4;
  margin: 0 !important;
  cursor: pointer;
}

.twemoji {
  width: 20px !important;
  height: 20px !important;
  margin-left: 0 !important;
  margin-right: 10px !important;
}

.time {
  margin-top: 0 !important;
  color: #908e93 !important;
}

.toggle-chat {
  border-radius: 50%;
  position: absolute;
  padding: 20px;
  right: 50px;
  bottom: 20px;
  border: 1px solid #dee;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.toggle-chat #icon-send {
  fill: rebeccapurple;
}

.bottom > div {
  position: absolute;
  top: -300px;
  right: 10px;
  width: 350px;
  height: 300px;
  background-color: #fff;
  padding: 10px;
  z-index: 5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.bottom > div button {
  display: none;
}

.bottom > div ul {
  max-height: 240px;
}

.icons svg {
  width: 18px;
  height: 18px;
}

.gif-picker {
  font-size: 14px;
  padding-bottom: 3px;
}
